@media (min-width: 600px) {
  main {
    flex-wrap: nowrap;
  }

  div {
    flex-basis: 33%;
  }
}
header{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(42, 146, 164);
    flex-wrap: wrap;
    padding: 30px;
    padding-right: 5px;
    margin-bottom: 20px;
  }
a{
  font-weight: 800;
  text-decoration: none;
  color: black;
  padding-right: 15px;
  flex-basis: 100%;
  font-size: 20;  
  }
h1{
  margin-bottom: 0px;
  margin-right: 40px;
  font-size:35px;
}
h2{
  margin-bottom: 0px;
  margin-left: 20px;
  }
b{
  margin-left: 20px;
  font-size:10px
}
div{
  float: left;
  margin-top: 10px;
}
.margen-izquierdo {
  margin-left: 20px;
  }